@media screen and (max-width:600px){
    main{
        width: 90%;
    }
    .box-data{
        padding: 0 0 60px 0;
    }
    .btn-img{
        left: 50%;
        transform: translate(-50%,50%);
    }
    div.result{
        padding-top: 60px;
    }
}
@media screen and (max-width:405px){
    div.result{
        font-size: 3rem;
        padding-top: 40px;
    }
}
@media screen and (max-width:360px){
    div.result{
        font-size: 2.5rem;
        padding-top: 40px;
    }
}