@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Poppins Bold";
    src: url("../fonts/Poppins-Bold.ttf");
}
@font-face {
    font-family: "Poppins Extra-Bold";
    src: url("../fonts/Poppins-ExtraBold.ttf");
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";

}
main{
    width: 550px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    border-bottom-right-radius: 120px;
    padding: 30px;
}
.box-data{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 25%;
    padding-bottom: 30px;
    justify-content: space-between;
    border-bottom: 1px solid rgb(202, 201, 201);
    position: relative;
}

p.title{
    font-size: 11px;
    font-weight: 600;
    color: grey;
    letter-spacing: 0.2rem;
    margin-bottom: 3px;
}
.box-input{
    width:30%;
}
.box-input input{
    width: 100%;
    padding: 10px 12px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 3px;
    font-family: "Poppins Bold";
    font-weight: bolder;
    font-size: 1.1rem;
}
.box-input input:focus{
    outline: none;
}
p.validation-msg{
    font-size: 9px;
    color: #dd0000;
    margin-top: 3px;
    display: none;
}
.btn-img{
    background: #864cff;
    width: 60px;
    height: 60px;
    padding: 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-img:hover{
    background: black;
}
.btn-img img{
    width: 40px;
}

div.result{
    padding-top:10px;
    font-family: "Poppins Extra-Bold", sans-serif;
    font-size: 3.5rem;
    font-style: italic;
}
div.result p span{
    color: #864cff;
}

.error-border{
    border: 1px solid #dd0000 !important;
}
.error-text{
    color: #dd0000;
}